/*noticias*/
.noticias-img {
    height: auto;
    width: 100%;
    display: block;
    filter: brightness(50%);
    max-height: 24em;
    object-fit: cover;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
.noticias-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 20px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

@media only screen and (min-width: 900px) { 

    .noticias-img {
        max-height: 18em;
    }

    .noticias-info > h1 {
        font-size: 3em;
    }
    
}